{% extends "Base.html" %}

{% load static %}

{% block content %}
    <div id="container">
    {% if not requests.user.authenticated %}
        <form method="POST">
            {% csrf_token %}
                <div id="login">
                    {{ form.as_p }}
                    <button type="submit">Zarejestruj się</button>
                </div>
            {% else %}
        <p>Jesteś już zalagowany Czy chcesz się <a href="{% url 'index' %}">wylogować?</a></p>
        {% endif %}
        </form>
    </div>
{% endblock %}
