{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/sub-menu.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/css/table.css" %}">
</head>
<nav>
   <ul>
     <li class="sub-menu-parent" tab-index="0">
       <a href="{% url 'home-page' %}">Słownictwo</a>
       <ul class="sub-menu">
         <li><a href="{% url 'LearnNorwegianApp:vocabulary' %}">Słownictwo</a></li>
         <li><a href="{% url 'LearnNorwegianApp:irr_verbs' %}">Czasowniki nieregularne</a></li>
         <li><a href="{% url 'LearnNorwegianApp:search-words' %}">Wyszukiwanie</a></li>
       </ul>
     </li>

     <li class="sub-menu-parent" tab-index="0">

       <a href="#">Gramatyka</a>
       <ul class="sub-menu">
         <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 2</a></li>
         <li><a href="#">Sub Item 3</a></li>
         <li><a href="#">Sub Item 4</a></li>
         <li><a href="#">Sub Item 5</a></li>
         <li><a href="#">Sub Item 6</a></li>
       </ul>
     </li>

         <li class="sub-menu-parent" tab-index="0">
           <a href="#">Twój profil</a>
           <ul class="sub-menu">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'LearnNorwegianApp:exercise' %}">Ćwicz słownictwo</a></li>
                    <li><a href="{% url 'LearnNorwegianApp:add' %}">Dodaj słowo</a></li>
                    <li><a href="{% url 'LearnNorwegianApp:list' %}">List słówek</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
           </ul></li>

   </ul>
 </nav>
    {% block content %}
    {% endblock %}

