{%  extends "norwegian/../Base.html" %}
{% load static %}

{% block title %}
    Start learning vocabulary!
{%  endblock %}

{% block content %}
    <div id="container">
    <div id="training_space">
        <link rel="stylesheet" type="text/css" href="{% static 'static/../../static/static/css/../../static/css/style.css' %}">
        <div class="word_show">
        {{ random_word.word_in_polish }}
        </div>
        <div class="show_train_content">
        <form method="get">
            {% csrf_token %}
            <a>Przetłumacz na norweski:</a>
            <input type="text" name="user_input">
            <input type="submit" value="Submit">
            <input type="submit" name="reset" value="reset">
        </form>
    </div>
    <br>
    {% if user_input == answer  %}
        <a>Twoja odpowiedź {{ user_input }} jest <strong>poprawna.</strong></a>
    {% endif %}
    {% if user_input != 0 and user_input != answer %}
        <a>Twoja odpowiedź {{ user_input }} jest <strong>niepoprawna</strong></a>
    {% endif %}
    <br>
    {% if end != '' %}
        <a> {{ end }} <strong> {{ points }}</strong></a>
    {% endif %}
    <br>
    <a>Pokaż aktualną liczbę zdobytych punktów: {{ points }}</a>
    </div>
    </div>
{% endblock %}

