{%  extends "norwegian/base.html" %}

{% block title %}
    Start learning vocabulary!
{%  endblock %}

{% block content %}
    <h4>Ćwicz norweskie czasowniki</h4>

    {{ random_word.word_in_polish }}
    <br/>
    <form method="get">
        {% csrf_token %}
        <a>Przetłumacz na norweski:</a>
        <input type="text" name="user_input">
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if user_input == answer  %}
        <a>Twoja odpowiedź {{ user_input }} jest <strong>poprawna.</strong></a>
    {% endif %}
    {% if user_input != 0 and user_input != answer %}
        <a>Twoja odpowiedź {{ user_input }} jest <strong>niepoprawna</strong></a>
    {% endif %}
    <br>
    <br>
    <a>Pokaż liczbę zdobytych punktów: {{ points }}</a>
{% endblock %}

