{%  extends "norwegian/../Base.html" %}

{% block title %}
    Start learning vocabulary!
{%  endblock %}

{% block content %}
    <div id="container">
        <div id="header">
            <h3>Lista słówek norweskich</h3>
        </div>


        <div id="words-space">
            <ul>
            {% for word in data %}
                <li>{{ word.word_in_norwegian }} - {{ word.word_in_polish }}</li>
            {% endfor %}
            </ul>
            <ul>
                {% for word in list_of_verbs %}
                    <li>{{ word.word_in_norwegian }} - {{ word.word_in_polish }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
